<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>10:15</td>  <td>Introducing the Shell, Navigating Files and Directories, Working with Files and Directories, Finding Files</td> </tr>
      <tr> <td>11:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:45</td>  <td>Automated Version Control, Setting Up Git, Creating a Repo, Tracking Changes, Exploring History, Ignoring Things</td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td>Intro to R and RStudio, Project Management with RStudio, Seeking Help</td> </tr>
      <tr> <td>15:45</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:00</td>  <td>Data Structures, Exploring Data Frames, Subsetting data</td> </tr>
      <tr> <td>17:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>18:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>10:15</td>  <td>Vectorization, Functions Explained, Writing Data</td> </tr>
      <tr> <td>11:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:45</td>  <td>Splitting and Combining Data Frames with Plyr, Dataframe Manipulation with dplyr, Datafram Manipulation with tidyr</td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td>Creating Publication-Quality Graphics with ggplot2</td> </tr>
      <tr> <td>15:45</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:00</td>  <td>Producing Reports with knitr, Git in RStudio (if time permits)</td> </tr>
      <tr> <td>17:45</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>18:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
